.signing{
    background-color: white;
    width: 300px;
    border: 5px groove;
    padding: 50px;
    margin: auto;
}

#searchbar{
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    color: blue;
    transform: width 0.4s ease-in-out;
}

#butt{
	position: relative;
    background-color: lightblue;
    margin-left: 250px;
}

.line{
    line-height: 10%;
}