.signing{
    background-color: white;
    width: 300px;
    border: 5px groove;
    padding: 10px;
	margin top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#searchbar{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    color: blue;
}

#butt{
	position: relative;

}

#name{
	color: blue;
}